*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-conatiner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    flex-direction: column;
    gap: 1rem;
    background-color: black;
}
button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(206, 206, 206);
    gap: 2rem;
    padding: 1rem;
    color: black;
     border-radius: 7px;
}
img{
    width: 19px;
    color: black;
   
}
#dropdown{
    background-color: rgb(206, 206, 206);
    width: 300px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.5rem;
    display: none;
    font-size: 1.2rem;
}
p:hover{
    background-color: white;
}
.rotate{
    transform: rotate(180deg);
}